@model IEnumerable<Livora_Lite.Application.DTO.AuditLogDTO>

@{
    ViewData["Title"] = $"Logs de Auditoria - {ViewData["Entity"]} {ViewData["EntityId"]}";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Index" class="btn btn-secondary">Voltar para Todos os Logs</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Id)
            </th>
            <th>
                Usuário
            </th>
            <th>
                Ação
            </th>
            <th>
                Data
            </th>
            <th>
                Alterações
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Changes)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Detalhes</a>
            </td>
        </tr>
}
    </tbody>
</table>